# Django Generales
SECRET_KEY=CAMBIAR_POR_UNA_CADENA_LARGA_Y_SECRETA_EN_PRODUCCION
DEBUG=False
DJANGO_ALLOWED_HOSTS=api.app4.academia.ar,localhost,127.0.0.1

# Token JWT (Firma de seguridad para Simple JWT)
JWT_SECRET_KEY=OTRA_CADENA_COMPLETAMENTE_DIFERENTE_Y_SECRETA

# Base de Datos (Inyectada en producción como URL completa)
DATABASE_URL=postgres://app4_user:PASSWORD@db:5432/app4_db