# ======================
# Frontend (React / Node)
# ======================
node_modules/
dist/
build/
coverage/

.env
.env.local
*.log

# ======================
# Backend (Django / Python)
# ======================
__pycache__/
*.py[cod]
.venv/
venv/

*.sqlite3
media/
staticfiles/

# ======================
# General
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/