# ======================
# Frontend
# ======================
node_modules/
dist/
build/
coverage/
.env
.env.local
.env.development
.env.production
*.log

# ======================
# Backend
# ======================
__pycache__/
*.py[cod]
.venv/
venv/
db.sqlite3
media/
staticfiles/
.env

# ======================
# General / IDE
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?